<div class="td-content">
	<h2 class="text-uppercase">{{ .Title }}</h2>
	<hr class="hr-colorful">
	{{ with .Params.description }}<div class="lead" style="word-break:break-all; word-wrap:break-all;">{{ . | markdownify }}</div>{{ end }}
	<div class="td-byline mb-4">
		{{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
		<time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>
	</div>
	{{ .Content }}

	{{ if (.Site.Params.DisqusShortname) }}
		{{ partial "disqus-comment.html" . }}
	{{ end }}
	<!-- {{ if (.Site.Params.valine) }}
	{{ partial "comments.html" . }}
	{{ end }} -->
	{{ partial "signature.html" . }}
	{{ partial "pager.html" . }}
</div>
