<!-- <ul class="list-unstyled d-flex justify-content-between align-items-center mb-0 pt-2">
  <li>
    <a {{if .PrevInSection}}href="{{.PrevInSection.RelPermalink}}"{{end}} class="btn btn-default btn-colourful btn-sm text-white {{if not .PrevInSection}} disabled{{end}}"> {{ T "ui_pager_prev" }}</a>
  </li>

  <li>
    <a {{if .NextInSection}}href="{{.NextInSection.RelPermalink}}"{{end}} class="btn btn-default btn-colourful btn-sm text-white {{if not .NextInSection}} disabled{{end}}">{{ T "ui_pager_next" }}</a>
  </li>
</ul> -->

<!-- <div class="text-center">
  <style>
    #img-donate-alipay{
    max-width: 31%;
    height: auto;
    margin: 25px 60px 25px;
    }
    #img-donate-wechatpay{
    max-width: 31%;
    height: auto;
    margin: 25px 60px 25px;
    }
  </style>
<div id = "databinding">
<button class="btn btn-default btn-colourful btn-lg text-white"  v-on:click = "show = !show">打赏</button>
<transition name = "fade">
    <div v-show = "show">
      <div>
        <img id="img-donate-alipay" src="/image/alipay.jpg"  alt="打赏"  />
        <img id="img-donate-wechatpay" src="/image/wechatpay.jpg"  alt="打赏" />
      </div>

    </div>
</transition>
</div>

<script type = "text/javascript">
var vm = new Vue({
el: '#databinding',
    data: {
        show:false,
    },
    methods : {
    }
});
</script>
</div>
 -->
